* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    background-color: rgb(87, 0, 23);
}

body {
    background-color: rgba(255, 255, 255, 0.124);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;

}

.home_logo {
    left: 4dvh;
    cursor: pointer;
}

.nav_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.navbar_text {
    color: white;
    font-size: 18px;
    /* font-style: normal; */
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


/* Unique for pages start */

.site_head {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;
    cursor: default;
}

.home_head_text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4dvh;
}


.page_body {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    /* height:700px; */
}

.form_body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form_catagory {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.066);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form_catagory_heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4dvh;
    color: white;
    font-weight: bold;
    margin: 10px;
}

.qustion {
    margin: 20px;
}

.input_label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.input_div {
    margin: 2px;
    display: flex;
    align-items: center;
}

.input_field {
    padding: 10px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.137);
    border: none;
    border-radius: 10px;
    width: 20dvw;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.option_feld {
    margin: 4px;
    border: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.qust_dec {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    padding: 4px;
}

.message {
    background-color: rgba(255, 255, 255, 0.087);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    cursor: none;
    font-weight: bold;
}

.submit_btn_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2dvh;
    background-color: rgba(255, 255, 255, 0.233);
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

/* .input_div {} */

/* Unique for pages end */

footer {
    list-style-type: none;
    margin: 20px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;
    cursor: none;
}

.copy_text {
    display: flex;
    color: white;
    justify-content: right;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_items {
    font-size: 10px;
    margin-right: 28px;
    margin-left: 8px;
}

.github_icon {
    margin-right: 20px;
}



@media only screen and (max-width: 960px) {
    html {
        background-color: rgb(49, 5, 66);

    }

    body {
        background-color: rgba(255, 255, 255, 0.124);
        margin: 8px;
        padding: 8px;
        border-radius: 10px;
    }

    .nav_items {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 8px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 8px;
        padding: 4px;

    }

    .home_logo {
        /* left: 2dvw; */
        cursor: pointer;
        height: 2dvh;
    }

    .nav_text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 12px;
    }

    .navbar_text {
        color: white;
        font-size: 10px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }


    /* Unique for pages start */

    .site_head {
        list-style-type: none;
        margin: 8px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 10px;
        cursor: default;
    }

    .home_head_text {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 4dvw;

    }

    .page_body {
        list-style-type: none;
        margin: 8px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 10px;
    }

    .form_catagory {
        margin: 8 px;
        background-color: rgba(255, 255, 255, 0.066);
        padding: 8 px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .form_catagory_heading {
        font-size: 4dvw;
        margin: 4px;
    }

    .qustion {
        margin: 8px;
    }

    .input_label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .input_field {
        padding: 10px;
        margin: 4px;
        background-color: rgba(255, 255, 255, 0.137);
        border: none;
        border-radius: 10px;
        width: 80%;
        color: rgb(255, 255, 255);
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

    .qust_dec {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: white;
        font-weight: 400;
        padding: 4px;
    }

    .message {
        background-color: rgba(255, 255, 255, 0.087);
        border-radius: 10px;
        padding: 10px;
        margin: 2px;
        margin-bottom: 10px;
        cursor: none;
        font-weight: bold;
    }

    .submit_button {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 4dvw;
        background-color: rgba(255, 255, 255, 0.088);
        color: white;
        border: none;
        cursor: pointer;
    }
    
    /* Unique for pages end */


    footer {
        list-style-type: none;
        margin: 8px;
        padding: 6px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 10px;
        cursor: none;
    }

    .footer_items {
        font-size: 8px;
        margin-right: 8px;
        margin-left: 4px;
    }


}